html, body {
  width: 100%;
  height: 100%;
}

body {
   background: url('../img/navy_blue.png') repeat;
   @include image-2x("../img/navy_blue_@2X.png", 180px, 180px);
  .container {
    width: 100%;
    h1 {
      color: #606060;
      float: left;
      .fa {
        font-size: 24px;
      }
    }
    p {
      padding: 20px 0 0 0;
      text-align: right;
      color: white;
      float: right;
      text-shadow: 0 1px 1px solid #000;
      margin-top: 25px;
      @include breakpoint(max-small) {
        margin-top: 0px;
        padding: 0;
        width: 100%;
        text-align: left;
      }
    }
    a {
      text-shadow: 0 1px 1px solid #000;
    }
    .table-responsive {
      border: transparent;
      table {
        clear: both;
        background: transparent;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        thead {
          tr {
            border-bottom: 2px dashed #323232;
            th {
              border-right: none;
              border-left: transparent;
              border-bottom: transparent;
              padding: 20px;
              text-align: center;
              color: #999;
              background: #161616; 
              background: -moz-linear-gradient(top,  #161616 0%, #0f0f0f 100%);
              background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#161616), color-stop(100%,#0f0f0f));
              background: -webkit-linear-gradient(top,  #161616 0%,#0f0f0f 100%);
              background: -o-linear-gradient(top,  #161616 0%,#0f0f0f 100%);
              background: -ms-linear-gradient(top,  #161616 0%,#0f0f0f 100%);
              background: linear-gradient(to bottom,  #161616 0%,#0f0f0f 100%);
              &:first-child {
                border-top-left-radius: 10px;
                @include breakpoint(max-small) {
                  border-top-left-radius: 0px;
                }
              }
              &:last-child {
                border-top-right-radius: 10px;
                border-right: none;
              }
            }
          }
        }
        tbody {
          overflow: hidden;
          tr {
            width: 100%;
            background: #222222;
            border-top: none;
            &:nth-child(even) {
              background: #262626;
              background: -moz-linear-gradient(top,  #262626 0%, #242424 100%);
              background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#262626), color-stop(100%,#242424));
              background: -webkit-linear-gradient(top,  #262626 0%,#242424 100%);
              background: -o-linear-gradient(top,  #262626 0%,#242424 100%);
              background: -ms-linear-gradient(top,  #262626 0%,#242424 100%);
              background: linear-gradient(to bottom,  #262626 0%,#242424 100%);
            }
            &:last-child {
              border-bottom-right-radius: 10px;
              th {
                border-bottom: none;
                &:first-child {
                  border-bottom-left-radius: 10px;
                  border-left: none;
                }
                &:last-child {
                  border-bottom-right-radius: 10px;
                  border-right: none;
                }
              }
            }
            th {
              border-right: #000;
              border-left: 1px solid #313131;
              border-top: none;
              border-bottom: 1px solid #313131;
              color: white;
              text-align: center;
              .fa {
                &.fa-check-circle {
                  color: green;
                  text-shadow: 0 1px 1px solid #000;
                }
                &.fa-minus-circle {
                  color: yellow;
                  text-shadow: 0 1px 1px solid #000;
                }
                &.fa-times-circle {
                  color: red;
                  text-shadow: 0 1px 1px solid #000;
                }
              }
              &:first-child {
                border-left: none;
              }
            }
          }
        }
      }
    }
  }
}